*{
    padding: 0px;
    margin: 0px;
    font-size: 1em;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Lobster&family=Quintessential&display=swap');

:root{
    --fonte-padrao: 'Lobster',serif;
    --fonte-imagem: 'Libre Caslon Display',serif;
    --var-cor1: rgb(0, 0, 0);
    --var-cor2: white;
}

header{
    background-color: var(--var-cor1);
    color: var(--var-cor2);
    padding: 60px 50px 50px 100px;
    text-align: center;
    display: relative;
}

header > h1{
    font-size: 6vw;
}

header > p{
    padding-bottom: 50px;
}

