@charset "UTF-8";

div {
    background-color: gray;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    height: 200px;
    width: 200px;
}

div:hover{
    background-color: aqua;
}