@charset "utf-8";

body {
    font-size: 22px;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: darkred;
    
}
p {
    text-align: justify;
    display: flex;
}