@charset "utf-8";

body{
    background-image: linear-gradient(to right, #26763E, #9F8233, #52266A);
    font: normal 16px Arial, Verdana, serif
}

h1{
    text-align: center;
    color: purple;
}

h2{
    text-align: right;
    color: orange;
}

p{
    text-align: justify;
    color: #52266A;
    text-indent: 30px;
}